body {
  margin: 0; 
  font-family: "Roboto", sans-serif;
  color: rgba(0,0,0,0.6);
  font-weight: 400;
   
  background: linear-gradient(215.72deg, #b392ee 0%, #673ab7 77.17%);
  font-size: 1rem;

  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll; 
  
  min-width: 100vw;
  min-height: 100vh;

}

body::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}
 